* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.wrapper {
  width: 100%;
  height: 100vh;
}

.display_only_xs {
  display: none;
}


main {
  display: flex;
  height: calc(100% - 90px);
  overflow-y: hidden;
  background-color: gray;
}

/* aside area */

.main-nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 480px;
  width: 200px;
  height: 100%;
  padding: 20px 20px 0 0;
  background-color: #000000;
  color: #656565;
}

.nav-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* logo e menu area */
#logo-white {
  width: 80%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.logo ul {
  padding: 10px 0;
}

.menu li {
  line-height: 10px;
  padding: 10px 0 0 10px;
  list-style: none;
}

.menu li:first-child {
  color: white;
  padding: 0 8px;
  border-left: 4px solid #ADFF30;
}

.menu li:nth-child(2) , .menu li:nth-child(3) {
  margin-left: 4px;
}

.main-nav li:hover {
  color: white;
  cursor: pointer;
}

.main-nav h2 {
  font-size: 17px;
  color: white;
}
/* /logo e menu area */
/* playlist area */
.playlist {
  height: 80%;
  padding: 20px 0 0 10px;
  overflow: hidden;
}

.playlist li {
  padding: 10px 0 0 0px;
  list-style: none;
}

.crea-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.crea-playlist:hover {
  color: white;
  cursor: pointer;
}

.button {
  margin: 20px 0;
  text-decoration: none;
  color: #656565;
  display: inline-block;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.button::before {
  content: "+";
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: grey;
  color: black;
  margin-right: 10px;
}

#playlist-scroll {
  height: 62%;
  overflow-y: auto;
}
/*/playlist area */

/* installa app e profilo area */
.nav-bottom {
  width: 100%;
  height: 90px;
  padding: 30px 0 0 10px;
  line-height: 30px;
}

.nav-bottom a {
  text-decoration: none;
  color: #656565;

}

.far.fa-arrow-alt-circle-down {
  padding: 0 10px 0 0;
}

.far.fa-user-circle {
  color: white;
  font-size: 20px;
  padding: 5px 5px 0 0;
}

.nav-bottom span:hover {
  color: white;
  cursor: pointer;
}

.nav-bottom:last-child {
  color: white;
  font-weight: bolder;
}
/*/installa app e profilo area */
/* /aside area */
.main-content {
  height: 100%;
  width: calc(100% - 200px);
  background-color: #141922;
  overflow-y: scroll;
}

/* upgrade area */
.main-content-top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100px;
  background-color: #080B12;
}

.button-upgrade {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 50px;
  border: 1px solid white;
  margin-right: 5px;
  padding: 10px;
}

.button-upgrade:hover {
  font-size: 20px;
}
/*/upgrade area  */
/* music nav area */
.music-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.music-nav li {
  line-height: 10px;
  color: #7D7F84;
  padding: 20px 10px;
  list-style: none;
}

.music-nav li:hover {
  color: white;
  cursor: pointer;
}

#evidenza {
  position: relative;
}

#evidenza:after {
  content: "";
 background: #ADFF30;
 position: absolute;
 bottom: 10px;
 left: 40px;
 height: 4px;
 width: 40px;
}
/*/music nav area */

/* riprodotti recentemente */
.recently-played {
  margin: 20px 0 20px 20px;
  color: white;
}

.music-played {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cover {
  position: relative;
}

.music-item {
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
  line-height: 23px;
}

.music-item img {
  width: 100%;
}

.music-item p  {
  color: #7D7F84;
}

.music-item-layover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
}

.music-item-layover a {
  text-decoration: none;
  color: white;
}

.music-item-layover .play.far.fa-play-circle {
  font-size: 50px;
}


.music-item-layover:hover {
  background-color: black;
  opacity: 0.7;
}
/*/riprodotti recentemente */
/* playlist su misura */
.playlist-bespoke {
  margin: 100px 0 20px 20px;
  color: white;
}

.playlist-bespoke p {
  color: #7D7F84;
  padding: 10px 0;
}
/* playlist su misura */

/* artisti popolari */
.popular-artist {
  margin: 100px 0 20px 20px;
  color: white;
}

.popular-artist p {
  color: #7D7F84;
  padding: 10px 0;
}

.circle img {
  width: 100%;
  border-radius: 50%;
}
.circle {
  border-radius: 50%
}
/*/artisti popolari */

footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
  color: white;
  font-size: 25px;
}



.play.far.fa-play-circle {
  font-size: 25px;
  padding: 0 20px;
}

/* controller riproduzione brano */
.controller {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 40%;
 height: 100%;
 font-size: 15px;
}

.controller-audio , .song-info {
  display: flex;
  width: 250px;
  height: 100%;
}

.player-top , .player-bottom {
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.player-top .play.far.fa-play-circle:hover{
  font-size: 35px;
  padding: 0 20px;
  cursor: pointer;
}

 .player-bottom {
   width: 100%;
 }

.player-top i {
  margin: 0 10px;
}


.player-bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.white {
  height: 4px;
  width: 20%;
  background-color: white;
  border-radius: 10px;
}

.white:hover {
  background-color: #ADFF30;
  cursor: pointer;

}

.grey {
  height: 4px;
  width: 80%;
  background-color: grey;
  border-radius: 10px;
}

.start-timer , .end-timer {
  margin: 10px;
}
/* /controller riproduzione brano */
/* informazioni ripoduzione brano */
.song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.info-item {
  width: calc(100% / 4);
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.info-item img {
  width: 80%;
}

.info-item i , .info-item p {
  color: #7D7F84;
}

.info-item p:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.info-item i:hover {
  color: white;
  cursor: pointer;
}
/* /informazioni ripoduzione brano */
/* cotroller regolazione volume */
.controller-audio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.audio-item {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.audio-bar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.white-bar {
  width: 20%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
}

.white-bar:hover {
  background-color: #ADFF30;
  cursor: pointer;

}

.grey-bar {
  width: 80%;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
}

.controller-audio i {
  padding:5px;
}

/* /cotroller regolazione volume */

@media screen and (max-width: 1199px) {

  .music-item {
    width: calc(100% / 4);
  }

}

@media screen and (max-width: 991px) {

  .music-item {
    width: calc(100% / 2);
  }

}

@media screen and (max-width:767px) {


  main {
    display: flex;
    height: calc(100% - 90px);
    overflow-y: hidden;
  }

  .main-content {
    height: 100%;
    width: calc(100% - 50px);
    background-color: #141922;
    overflow-y: scroll;
  }


  .display_none_xs {
    display:none;
  }

  .display_only_xs{
    display:flex;
  }
  /* aside area */
  .fab.fa-spotify {
    font-size: 35px;
    color: white;
    padding: 5px;
  }

  .far.fa-user-circle {
    font-size: 35px;
    color: white;
    padding: 5px;
  }

  .fas.fa-home , .fas.fa-search , .fas.fa-list{
    padding: 5px;
    font-size: 30px;
  }

  .main_nav_xs {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding: 0;

  }

  .nav-bottom {
    width: 100%;
    height: 90px;
    padding: 0;
    line-height: 0;
  }

  .far.fa-arrow-alt-circle-down{
    font-size: 15px;
    padding: 15px;
  }


  /*/aside area */

  .song-info {
    display: flex;
    width: 96px;
    height: 100%;
    flex-shrink: 0;
  }

  .controller-audio {
    width: 200px;
  }



  .controller {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50%;
   height: 100%;
   font-size: 15px;
  }

  .start-timer , .end-timer {
    margin: 2px;
    font-size: 12px;
  }

  .player-top i {
    margin: 0 2px;
  }

  .play.far.fa-play-circle {
    font-size: 25px;
    padding: 0 5px;
  }

  .info-item {
    flex-wrap: wrap;
  }

  .song-info p , .song-info h5 {
    font-size: 5px;
  }


}
